body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh; 
    background-image: url('/imagenes/Diseño\ sin\ título.png'); 
    background-size: cover; 
    background-position: center; 
}




/* header {
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
} */

h1 {
    justify-content: center;
    text-align: center;
    margin: 100px;
    color: #ffffff;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 20px;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

button img.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    padding: 10px;
    margin: 5px 0;
    width: 300px;
    border: 1px solid #ccc;
}

#movements-list {
    color: white; 
    padding: 10px; 
}
#pay-service-form {
    color: #ffffff;
}


#logout {
    background-color: #000000;
    color: white;
}

#logout:hover {
    background-color: #ffffff;
    color: black;
}
